<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defult_layouts}"
	layout:fragment="Content">	
	<!-- 외부 라이브러리가 지원하는것 layout:decorate 전부 읽어 들고 비어있는 공간을 확인후 집어넣는것
	기존의 타일즈와 다른것이 해당 부분을 불러 오는것이였다는것과 현재는 집어 넣는것-->

<head>
<meta charset="UTF-8">
<!-- ajax -->
<meta name="contextPath" th:value="${contextPath}">
<!-- <meta name="contextPath"
	th:value="${#httpServletRequest.getContextPath()}"> -->
<!--  3.xx 이상 버전에서 request,섹션등 사용불가. -->
<title>Insert title here</title>

<!-- 기존의 jquery 삭제 -->
<!-- 대체함 참고: 스프링부트v5_mybatis.pdf p17 -->
<!-- 단순 이름이아닌 파일까지 찾아가야함. -->
<!-- :: 기준으로 앞은 경로 뒤는 이름 -->
<th:block th:replace="~{common/configs/default_config :: jQueryConfig}"></th:block>
</head>
<body>
	<div>
	
<!-- 하위에 넣을 경우 사용함 또한 body에서 많이 사용함 -->
<!-- 	<div th : insert = ""></div> -->

		<h3>전체 조회</h3>
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>사원번호</th>
					<th>이름</th>
					<th>입사일자</th>
					<th>업무</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="num,index : ${emps}">
					<!-- <tr onclick="location.href='@{/empInfo?employeeId=100}'"> -->
					<!-- <tr th:onclick="|location.href='@{/empInfo(employeeId=${num.employeeId})}'|" -->
					<tr>
						<td th:text=${index.count} />
						<td th:text="${num.employeeId}" />
						<td th:text="${num.lastName}" />
						<!-- /*<td>[[${num.hireDate}]]</td>*/ -->
						<td>[[${#dates.format(num.hireDate,'yyyy년 MM월 dd일')}]]</td>
						<td>[[${num.jobId}]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<script>
	<!-- ajax -->
 		const context = $('meta[name="contextPath"]').attr('value');

		$('tbody > tr').on("click", function(event) {
			let tr = event.currentTarget;
			let eid = $(event.currentTarget).children().eq(1).text();
			let url = context + '/empInfo?employeeId=' + eid;
			location.href = url;
		});  
	</script>
</body>
</html>